.table {
	width: 100%;
	border-collapse: collapse;
  }
  
  .table th,
  .table td {
	border: 1px solid #ccc;
	padding: 8px;
	text-align: center;
	white-space: nowrap;
  }
  
  .value {
	font-weight: bold;
  }
  